.header{
    height:60px;
    color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;

}
main{
    height:500px
}

.logo{
   width:fit-content;
   height:fit-content;
   font-size: 24px;
   font-weight: bold;  
}
img{
    width: 202px;
    height: 60px;
    border-radius: 20px;
}
.right{
    width: 100px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-container{
    display: flex;
    gap: 15px;
}
.text{
    font-family: "Oswald",serif;
    font-size: 50px;
    width: fit-content;
    font-weight: bold;
    position: absolute;
    top: 250px;
    left: 150px;
    transition: transform 0.3s ease-in-out;
}
.watch-now{
    width: fit-content;
    position: absolute;
    top: 430px;
    left: 290px;
    border: transparent;
    transition: background-color 0.3s ease;
}
.btn{
    background-color: orangered;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    background: transparent;
    border: solid transparent;
    cursor:pointer;
    transition: border 0.3s ease, color 0.3s ease;
}
.btn:hover{
    border-color:orangered;
    background-color: orangered;
}
.button{
    background-color: orangered;
    border-radius: 20px;
    font-size: 25px;
    cursor: pointer;
}
.text:hover{
    transform: scale(1.2); /* Zoom in effect */

}
footer{
    display: flex;
    justify-content: center;
    font-family: "Shadows Into Light", serif;
}
body{
    background-image: url("1352212.png");
    background-size: cover; /* Ensures the image covers the entire page */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat;
}
hr{
    border:1px solid black;
    margin: 0%;
}
body{
    margin: 0%;
}
button{
    font-family: "Roboto Mono", serif;
    transition: box-shadow 0.3s ease;
}
button:hover {
    box-shadow: 0 4px 8px rgba(129, 129, 129, 0.721); /* Horizontal, Vertical, Blur, Color */
}
span{
    cursor: pointer;
}